<h3 class="mt-2" *ngIf="!modif">Création d'un compte</h3>
<form *ngIf="!modif" class="container form-group" [formGroup]="compteForm" (ngSubmit)='ajouterCompte()'>
    <div class="row">
        <div class="col-6">
            <label for="nom">Nom :</label>
            <input id="nom" class="form-control" type="text" formControlName="nom">
        </div>
        <!-- <div class="erreur" *ngIf="nom?.invalid && (nom?.dirty || nom?.touched)">
        <div *ngIf="nom?.errors?.required">Le nom est obligatoire</div>
        </div> -->
        <div class="col-6">
            <label for="prenom">Prénom :</label>
            <input id="prenom" class="form-control" type="text" formControlName="prenom">
        </div>
        <!-- <div class="erreur" *ngIf="prenom?.invalid && (prenom?.dirty || prenom?.touched)">
        <div *ngIf="prenom?.errors?.required">Le prénom est obligatoire</div>
        </div> -->
    </div>
    <div class="row">
        <div class="col-6">
            <label for="email">Email :</label>
            <input id="email" class="form-control" type="email" formControlName="email">
        </div>
        <!-- <div class="erreur" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.required">L'adresse mail est obligatoire</div>
        </div> -->
        <div class="col-6" >
            <label for="motDePasse">Mot de passe :</label>
            <input id="motDePasse" class="form-control" type="password" formControlName="motDePasse">
        </div>
    </div>
    <div class="row">
        <div formArrayName="adresses">
            <div *ngFor="let adresse of adresses.controls; let j=index">
                <h5 class="mt-3">Adresse {{ j + 1 }}</h5>
                <div class="form-group" [formGroupName]="j">
                    <div>
                        <label for="typeDeVoie">Type de Voie :</label>
                        <input id="typeDeVoie" class="form-control" type="text" formControlName="typeDeVoie">
                    </div>
                    <div>
                        <label for="numeroRue">Numéro de rue :</label>
                        <input id="numeroRue" class="form-control" type="text" formControlName="numRue">
                    </div>
                    <div>
                        <label for="complement">Complément :</label>
                        <input id="complement" class="form-control" type="text" formControlName="complement">
                    </div>
                    <div>
                        <label for="codePostal">Code postal :</label>
                        <input id="codePostal" class="form-control" type="text" formControlName="codePostal">
                    </div>
                    <div>
                        <label for="ville">Ville :</label>
                        <input id="ville" class="form-control" type="text" formControlName="ville">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-success">Créer le compte</button>
        <button type="button" class="btn btn-danger" (click)="annulerCreation()">Annuler</button>
    </div>
</form>

<h3 class="mt-2" *ngIf="modif">Mise à jour de votre compte</h3>
<form *ngIf="modif" class="container form-group" [formGroup]="compteForm" (ngSubmit)='modifierCompte()'>
    <div class="row">
        <div class="col-4">
            Nom :<input id="nom" class="form-control" type="text" formControlName="nom">
        </div>
        <div class="col-4">
            <label for="prenom">Prénom :</label>
            <input id="prenom" class="form-control" type="text" formControlName="prenom">
        </div>
        <div class="col-4">
            <label for="email">Email :</label>
            <input id="email" class="form-control" type="email" formControlName="email">
        </div>
    </div>
    <div class="row" formArrayName="adresses">
        <div class="col-6">
            <h5 class="mt-3">Adresse Livraison</h5>
            <div class="form-group" [formGroupName]="0">
                <div>
                    <label for="typeDeVoie">Type de Voie :</label>
                    <input id="typeDeVoie" class="form-control" type="text" formControlName="typeDeVoie">
                </div>
                <div>
                    <label for="numeroRue">Numéro de rue :</label>
                    <input id="numeroRue" class="form-control" type="text" formControlName="numRue">
                </div>
                <div>
                    <label for="complement">Complément :</label>
                    <input id="complement" class="form-control" type="text" formControlName="complement">
                </div>
                <div>
                    <label for="codePostal">Code postal :</label>
                    <input id="codePostal" class="form-control" type="text" formControlName="codePostal">
                </div>
                <div>
                    <label for="ville">Ville :</label>
                    <input id="ville" class="form-control" type="text" formControlName="ville">
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5 class="mt-3">Adresse Facturation</h5>
            <div class="form-group" [formGroupName]="1">
                <div>
                    <label for="typeDeVoie">Type de Voie :</label>
                    <input id="typeDeVoie" class="form-control" type="text" formControlName="typeDeVoie">
                </div>
                <div>
                    <label for="numeroRue">Numéro de rue :</label>
                    <input id="numeroRue" class="form-control" type="text" formControlName="numRue">
                </div>
                <div>
                    <label for="complement">Complément :</label>
                    <input id="complement" class="form-control" type="text" formControlName="complement">
                </div>
                <div>
                    <label for="codePostal">Code postal :</label>
                    <input id="codePostal" class="form-control" type="text" formControlName="codePostal">
                </div>
                <div>
                    <label for="ville">Ville :</label>
                    <input id="ville" class="form-control" type="text" formControlName="ville">
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-success m-2">Mettre à jour</button>
    <button type="button" class="btn btn-danger m-2" (click)="annulerModification()">Annuler</button>
</form>