.fa-shopping-cart{
    color: white
}

.cart-basket {
    font-size: .6rem;
    position: absolute;
    top: 10%;
    right: 0.5%;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;

}