<div class="container mt-5">
    <div class="row">
        <div class="col-3">

            <img class="d-block w-100 card-img-top" [src]="livre.image" alt="Card image" style="width:100%"></div>
        <div class="col-9">
            <div class="row">
                <h3 class="col">{{ livre.titre }}</h3>
            </div>
            <div class="row">
                <div class="col">Auteur : {{ livre.prenom }} {{ livre.nom }}</div>
            </div>
            <div class="row">
                <div class="col">Genre : {{ livre.type }}</div>
            </div>
            <div class="row">
                <div class="col">Format : {{ livre.format }}</div>
            </div>
            <div class="row">
                <div class="col">Résumé : {{ livre.resume }}</div>
            </div>
            <div class="row">
                <div class="col">Prix : {{ livre.prixUnitaire }} €</div>
            </div>
            <div class="row">
                <div class="col">Quantité restante en stock : {{ livre.quantiteEnStock }}</div>
            </div>
            <div class="row">
                <button class="col-1 btn btn-secondary" (click)="DecQuantite()">-</button>
                <span class="col-1">{{ quantiteArticle }}</span>
                <button class="col-1 btn btn-secondary" (click)="IncQuantite()">+</button>
            </div>
            <button class="btn btn-success" (click)="ajouterPanier()">Ajouter au panier</button>
        </div>
    </div>
</div>