<h3 class="mt-2">Page d'authentification</h3>
<form class="container" #monForm=ngForm (ngSubmit)="connexion()">
    <div class="row">
        <div class="col-4">
            <label for="email">Email :</label>
            <input id="email" class="form-control" type="email" name=email [(ngModel)]=personne.email required
                #email=ngModel>
        </div>
        <span [hidden]="email.valid || email.pristine" style="color: red;">
            Le Email est obligatoire
        </span>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="motDePasse">Mot de passe :</label>
            <input id="motDePasse" class="form-control" type=password name=motDePasse [(ngModel)]=personne.motDePasse
                required #motDePasse=ngModel>
        </div>
        <span [hidden]="motDePasse.valid || motDePasse.pristine" style="color: red;">
            Le mot de passe est obligatoire
        </span>
    </div>
    <div class="row" style="color: red;">
        <span class="col-4"> {{ erreur }}</span>
    </div>
    <div class="row">
        <button class="btn btn-success col-1 m-2" [disabled]="!monForm.valid">
            Connexion
        </button>
        <button class="btn btn-secondary col-2 m-2" type="button" (click)="creationCompte()">Créer un compte</button>
    </div>
</form>